%#This code is taken from the internet


<!DOCTYPE HTML>
<html>
<head>
    <title>Create Chatroom</title>
</head>
<body>
    Choose Name:
    <form id="choose" action="/<user>/create" method="GET">
    <input id="chat_name"></input>
    <input type="submit" />
    </form>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        //I got this code from the internet
        $(document).ready(function() {
             $("#choose").submit(function(e) {
                document.location = $("#user_id").val();
                e.preventDefault();
            });
        });

    </script>
</html>